body {
background-color: #eaf2e3;
color: #333;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
.centroNegrita{
  text-align: center;    /* Centra el texto */
  font-style: italic;    /* Cursiva */
  font-weight: bold;     /* Negrita */
}
header {
background-color: #dd2020;
color: #fff;
text-align: center;
padding: 20px;
}
section {
padding: 20px; /* espaciado para la sección de 20 pixeles */}
footer {
background-color: #7d1721; /* Color de fondo del footer */
color: #fff;
padding: 20px 0; }
.footer-content {
max-width: 800px; /* Ancho máximo del contenido del footer */
margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
text-align: center; }

/* Estilos para el nav y enlaces de ul y li */
nav {
background-color: #af4c4c;
padding: 10px;
}
nav ul {
list-style: none;
margin: 0;
padding: 0;
text-align: center;
}
nav ul li {
display: inline-block;
margin-right: 20px;
}
nav ul li a {
color: #fff;
text-decoration: none;
padding: 8px 16px;
border-radius: 5px;
}
nav ul li a:hover {
background-color: #9e1e25;
}
/* Estilos para las imágenes */
img {
display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
margin: 0 auto; /* Centrar las imágenes horizontalmente */
max-width: 90%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
border: 3px solid #12180f; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
}
.custom-buscar {
  background-color: #1b4f97;  /* Azul oscuro personalizado */
  color: rgb(178, 93, 93);
  border: none;
}
.custom-buscar:hover {
  background-color: #457b9d; /* Color al pasar el mouse */
}

.form-login {
  margin: 0 auto;
  width: 600px;
  background-color: #3e91e5;
  padding: 20px;
  border-radius: 10px;
}

.form-regis {
  margin: 0 auto;
  width: 600px;
  background-color: #3e91e5;
  padding: 20px;
  border-radius: 10px;
}

